body{background-color:#fff5ee;}

h1{color:deeppink;
   text-align: center;}

h3{color:#ff7f50;}

img.yokohama{text-align: center;
             width: 400px;
             height:250px;
             margin-left:300px;}